<h1>Class <%= @class.name %></h1>

<b> Instances: </b> &nbsp;

<% @class.instances.each do |instance| %>
  <li><a href="<%= instance_path(instance) %>"><%= instance.display_name %></a></li>
<% end %>
