<h1>All Classes</h1>

<table>
  <tr>
    <th>Count</th>
    <th>Name</th>
  </tr>

  <% @classes.sort { |a, b| a.name <=> b.name }.each do |cls| %>
  <tr>
    <td><%= cls.instances.length %></td>
    <td><a href="<%= classes_path %>/<%= cls.id %>"><%= cls.name%></a></td>
  </tr>
  <% end %>
  
</table>
